on:
  push:
    branches: [main, master, v2-branch]
  pull_request:
    branches: [main, master, v2-branch]
  workflow_dispatch:
    
name: "setup-tinytex test"

jobs:
  tinytex:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: macos-latest   }
          - { os: windows-latest }
          - { os: ubuntu-latest  }

    steps:
      - uses: actions/checkout@v3

      - uses: ./setup-tinytex
        env:
          # always install the bundled version from Nov. 2021
          TINYTEX_VERSION: 2021.11

      - run: tlmgr --version
